/* Transition Overlay */
.transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    pointer-events: none;
}

.transition-bar {
    flex: 1;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    transition-delay: calc(var(--i) * 0.03s);
}


/* Active State */
.transition-overlay.is-active .transition-bar {
    transform: scaleY(1);
    transform-origin: bottom;
}

body {
    opacity: 1;
}